@font-face {
    font-family: "upheaval";
    src: local("upheaval"),
      url(../static/fonts/upheavtt.ttf) format("truetype");
}

html {
    font-family: upheaval;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

h3, h4, h5, h6, p, ul {
    font-family: 'Cairo', sans-serif;
}