@font-face {
    font-family: "upheaval";
    src: local("upheaval"),
      url(../static/fonts/upheavtt.ttf) format("truetype");
}

html {
    font-family: upheaval;
    padding: env(safe-area-inset);
}

h3, h4, h5, h6, p, ul {
    font-family: 'Cairo', sans-serif;
}